body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 238, 238);
    margin: 0;
    padding: 20px;
}

.container{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px black;
}

h1, h2{
    text-align: center;
}

.search-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

#city-input{
    padding: 10px;
    font-size: 18px;
}

.suggestions{
    background-color: white;
    border: 1px solid #ccc;
    height: 150px;
    overflow-y: auto;
    position: relative;
}

.suggestions div{
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover{
    background-color: #eee;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: rgb(102, 102, 219);    
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(81, 81, 195);     
}

.results, .trip-section{
    margin-top: 30px;
}

.result-card{
    background-color: #ededed;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result-card img{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.image-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}