.container{
    border: 3px solid blueviolet;
    height: 98vh;

    display: flex;
    /*!вказуємо що в цьому контейнері ми будемо використовувати flex  */

    flex-direction: row;
    /*! змінюємо напрямок головної осі*/

    justify-content: space-evenly;
    /*! позиціювання по головній осі */

    /* align-items: center; */
    /*! позиціювання другорядної осі  */

    /* flex-wrap: wrap; */
    /*!дозволяє або забороняє переносити елементи  */

    /* align-content: space-evenly; */
    /*! позиціювання другорядної осі коли включиний wrap(пренос)  */


}




.itemAll{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 40px;


    /* flex-basis: 33%; */
    /*! скільки % буде займати по головній осі  */

    /* flex-grow: 1; */
}

.item1{
    /* flex-basis: 50%; */
    /*! скільки % буде займати по головній осі  */

    /* order: 3; */
    /*!якщо число буде більше то дане елемент буде останій  */
    
    /* flex-grow: 1; */
    /*! скільки розміру займати даному елементу  */

    /* align-self: flex-start; */
    /*! дозволяє керувати елементом по другорядній осі  */
    
    /* flex-shrink: 2; */
    /*! в с-ки разів він буде швидше зментшуватися при звуження блока  */
}
.item2{
    /* flex-basis: 25%; */
    /*! скільки % буде займати по головній осі  */
    
    /* flex-grow: 2; */
    /*! скільки розміру займати даному елементу  */

    /* order: 4; */
    /*!якщо число буде більше то дане елемент буде останій  */

    /* align-self: flex-end; */
    /*! дозволяє керувати елементом по другорядній осі  */

}
.item3{
    /* flex-basis: 25%; */
    /*! скільки % буде займати по головній осі  */
    
    /* flex-grow: 4; */
    /*! скільки розміру займати даному елементу  */
    /* order: 1; */
    /*!якщо число буде більше то дане елемент буде останій  */

    /* align-self: flex-start; */
    /*! дозволяє керувати елементом по другорядній осі  */

}
.item4{
    /* order: 2; */
    /*!якщо число буде більше то дане елемент буде останій  */

    /* align-self: center; */
    /*! дозволяє керувати елементом по другорядній осі  */
}
.item5{
    /* order: 5; */
    /*!якщо число буде більше то дане елемент буде останій  */

    /* align-self: flex-start; */
    /*! дозволяє керувати елементом по другорядній осі  */

}