/* ? Positin */
/*! static, relative, fixed, sticky */
/*! top right left b  z-index*/

.container{
    background-color: rgb(72, 7, 7);
    padding: 50px;
    position: relative;
}
.item1{
    padding: 30px;
    background-color: red;
    /* position: static; */
    /* position: relative; */
    /* position: absolute; */
    /* position: fixed; */
    /* position: sticky; */


    /* top: 100px;
    bottom: 0px;
    right: 100px;
    left: 0px;
    z-index: 1; */

}

.item2{
    padding: 30px;
    background-color: blue;
    /* position: absolute; */
    /* position: sticky; */
    /* position: relative; */
    /* top: 50px; */
    /* z-index: 2; */
}

.item3{
    padding: 30px;
    background-color: yellow
}